@import './variables';

* {
  font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 15px;
  color: map-get($color, 'text');
  box-sizing: border-box;
  letter-spacing: 1px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: auto;
  background-color: #fefefe;
  margin-bottom: 128px;
}

.list-item {
  transition: all .3s;
  display: inline-block;
}
.list-enter, .list-leave-to
/* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-active {
  position: absolute;
}

.fade-enter-active, .fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}